{% extends 'index.html' %}
{% block content %}
    <!--工具栏(全局)-->
    <div class="caseDetailTools">
        <div id="project-caseDetail-tool" class="layui-inline">
            <a href="/project_case/{{ pid }}" class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-return"></i>
                <span style="font-size: 17px">返回</span></a>
            <button class="layui-btn" data-type="choiceApi" >选择已有接口</button>
{#            <button class="layui-btn" data-type="caseApiAdd" >添加新接口</button>#}
        </div>
    </div>

    <!--表格展示-->
    <table id="project-caseDetail-table" lay-filter="data-table"></table>

    <!--工具栏(每行)-->
    <script type="text/html" id="barcaseDetail">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-xs" lay-event="up">上移</a>
        <a class="layui-btn layui-btn-xs" lay-event="down">下移</a>
    </script>


    <script type="text/javascript" src="/static/js/caseDetail.js"></script>
    <script id="addfield" type="text/html">
        <tr>
            <td>
                <input type="text" name="header_key" placeholder="Key" class="layui-input">
            </td>
            <td>
                <input type="text" name="header_value" placeholder="Value" class="layui-input">
            </td>
            <td>
                <a href="javascript:;" class="delete">
                    <i class="layui-icon">&#x1006;</i>
                </a>
            </td>
        </tr>
    </script>
    <script id="addparamfield" type="text/html">
        <tr>
            <td>
                <input type="text" name="param_name" placeholder="Name" class="layui-input">
            </td>
            <td>
                <input type="text" name="param_desc" placeholder="Desc" class="layui-input">
            </td>
            <td>
                <input type="text" name="param_default" placeholder="Default" class="layui-input">
            </td>
            <td>
                <input type="text" name="param_type" placeholder="Type" class="layui-input">
            </td>
            <td>
                <input type="checkbox" name="param_must" title="" lay-skin="primary" checked>
            </td>
            <td>
                <a href="javascript:;" class="delete">
                <i class="layui-icon">&#x1006;</i>
                </a>
            </td>
        </tr>
    </script>
    <script id="addprefield" type="text/html">
        <tr>
            <td>
                <input type="text" name="pre_type" placeholder="Type" class="layui-input">
            </td>
            <td>
                <input type="text" name="pre_content" placeholder="Content" class="layui-input">
            </td>
            <td>
                <input type="text" name="pre_variable" placeholder="Variable" class="layui-input">
            </td>
            <td>
                <input type="text" name="pre_sort" placeholder="Sort" class="layui-input">
            </td>
            <td>
                <a href="javascript:;" class="delete">
                    <i class="layui-icon">&#x1006;</i>
                </a>
            </td>
        </tr>
    </script>

{% endblock %}