{% extends 'index.html' %}
{% block content %}
    <!--工具栏(全局)-->
    <div class="caseDetailTools">
        <div id="project-caseDetail-tool" class="layui-inline">
            <button class="layui-btn" data-type="caseApiAdd" >添加接口</button>
        </div>
    </div>

    <!--表格展示-->
    <table id="project-caseDetail-table" lay-filter="data-table"></table>

    <!--工具栏(每行)-->
    <script type="text/html" id="barcaseDetail">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>


    <script type="text/javascript" src="/static/js/caseDetailTable.js"></script>
    <script id="addfield" type="text/html">
        <tr>
            <td>
                <input type="text" name="header_key" placeholder="Key" class="layui-input">
            </td>
            <td>
                <input type="text" name="header_value" placeholder="Value" class="layui-input">
            </td>
            <td>
                <a href="javascript:;" class="delete">
                    <i class="layui-icon">&#x1006;</i>
                </a>
            </td>
        </tr>
    </script>
    <script id="addparamfield" type="text/html">
        <tr>
            <td>
                <input type="text" name="param_name" placeholder="Name" class="layui-input">
            </td>
            <td>
                <input type="text" name="param_desc" placeholder="Desc" class="layui-input">
            </td>
            <td>
                <input type="text" name="param_default" placeholder="Default" class="layui-input">
            </td>
            <td>
                <input type="text" name="param_type" placeholder="Type" class="layui-input">
            </td>
            <td>
                <input type="checkbox" name="param_must" title="" lay-skin="primary" checked>
            </td>
            <td>
                <a href="javascript:;" class="delete">
                <i class="layui-icon">&#x1006;</i>
                </a>
            </td>
        </tr>
    </script>

{% endblock %}