<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]--
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <title>小葫芦接口管理后台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <link href="/static/css/default.css" rel="stylesheet" type="text/css" />

    <link href="/static/layui/css/layui.css" rel="stylesheet" type="text/css" />
	<!--必要样式-->
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/demo.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/loaders.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
{#	<script type="text/javascript" src='/static/js/stopExecutionOnTimeout.js?t=1'></script>#}
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/Particleground.js"></script>
    <script type="text/javascript" src="/static/js/Treatment.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mockjax.js"></script>
    {% endblock %}
</head>
<body>
{% block body %}
<div class='login'>
	  <header  class='login_title layui-logo' style="text-align:center;font-weight: bold;font-size: 18px"><h2 >登录接口管理平台</h2></header >
	  <div class='login_fields'>
	    <div class='login_fields__user'>
	      <div class='icon'>
	        <i class="layui-icon layui-icon-username"></i>
	      </div>
	      <input name="login" placeholder='用户名' maxlength="16" type='text' autocomplete="off"/>
	        <div class='validation'>
	          <i class="layui-icon layui-icon-ok"></i>
	        </div>
	    </div>
	    <div class='login_fields__password'>
	      <div class='icon'>
	        <i class="layui-icon layui-icon-password"></i>
	      </div>
	      <input name="pwd" placeholder='密码' maxlength="16" type='text' autocomplete="off">
	      <div class='validation'>
	        <i class="layui-icon layui-icon-ok"></i>
	      </div>
	    </div>
	    <div class='login_fields__password'>
{#	      <div class='icon'>#}
{#	        <i class="layui-icon layui-icon-vercode"></i>#}
{#	      </div>#}
{#	      <input name="code" placeholder='验证码' maxlength="4" type='text' name="ValidateNum" autocomplete="off">#}
{#	      <div class='validation' style="opacity: 1; right: -5px;top: -3px;">#}
{#          <canvas class="J_codeimg" id="myCanvas" onclick="Code();">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>#}
{#            <canvas id="myCanvas"></canvas>#}
{#	      </div>#}
	    </div>
        <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
	    <div class='login_fields__submit' style="text-align: center">
	      <input type='button' value='登录'>
	    </div>
	  </div>
	  <div class='success'>
	  </div>
	</div>
{#	<div class='authent'>#}
{#	  <div class="loader" style="height: 44px;width: 44px;margin-left: 28px;">#}
{#        <div class="loader-inner ball-clip-rotate-multiple">#}
{#            <div></div>#}
{#            <div></div>#}
{#            <div></div>#}
{#        </div>#}
{#        </div>#}
{#	  <p>认证中...</p>#}
{#	</div>#}
{#	<div class="OverWindows"></div>#}
</div>
{#    <script type="text/javascript">#}
{#    $(function () {#}
{#        $("#subaddunion").click(function () {#}
{#            login()#}
{#        })#}
{#    })#}
{##}
{#    function login() {#}
{#        $("#error_meg").hide()#}
{#        _username = $("#user_name").val()#}
{#        _pwd = $("#pwd").val()#}
{#        httpPost('/admin_login/', {#}
{#            username: _username,#}
{#            password: _pwd,#}
{#            csrfmiddlewaretoken: $('#csrf_token').val()#}
{#        }, function (response) {#}
{#            if (response.code==1) {#}
{#                window.location.href = "/index/";#}
{#            }#}
{#            else {#}
{#                alert('账号或者密码错误');#}
{#                $("#error_meg").show()#}
{#            }#}
{#        });#}
{#    }#}
{#</script>#}
    <script type="text/javascript">
		var canGetCookie = 1;//是否支持存储Cookie 0 不支持 1 支持
		var ajaxmockjax = 0;//是否启用虚拟Ajax的请求响 0 不启用  1 启用
		//默认账号密码

{#		var CodeVal = 0;#}
{#	    Code();#}
{#	    function Code() {#}
{#			if(canGetCookie == 1){#}
{#				createCode("AdminCode");#}
{#				var AdminCode = getCookieValue("AdminCode");#}
{#				showCheck(AdminCode);#}
{#			}else{#}
{#				showCheck(createCode(""));#}
{#			}#}
{#	    }#}
{#	    function showCheck(a) {#}
{#			CodeVal = a;#}
{#	        var c = document.getElementById("myCanvas");#}
{#	        var ctx = c.getContext("2d");#}
{#	        ctx.clearRect(0, 0, 1000, 1000);#}
{#	        ctx.font = "80px 'Hiragino Sans GB'";#}
{#	        ctx.fillStyle = "#E8DFE8";#}
{#	        ctx.fillText(a, 0, 100);#}
{#	    }#}
{#	    $(document).keypress(function (e) {#}
{#	        // 回车键事件#}
{#	        if (e.which == 13) {#}
{#	            $('input[type="button"]').click();#}
{#	        }#}
{#	    });#}
	    //粒子背景特效
	    $('body').particleground({
	        dotColor: '#E8DFE8',
	        lineColor: '#133b88'
	    });
	    $('input[name="pwd"]').focus(function () {
	        $(this).attr('type', 'password');
	    });
	    $('input[type="text"]').focus(function () {
	        $(this).prev().animate({ 'opacity': '1' }, 200);
	    });
	    $('input[type="text"],input[type="password"]').blur(function () {
	        $(this).prev().animate({ 'opacity': '.5' }, 200);
	    });
	    $('input[name="login"],input[name="pwd"]').keyup(function () {
	        var Len = $(this).val().length;
	        if (!$(this).val() == '' && Len >= 5) {
	            $(this).next().animate({
	                'opacity': '1',
	                'right': '30'
	            }, 200);
	        } else {
	            $(this).next().animate({
	                'opacity': '0',
	                'right': '20'
	            }, 200);
	        }
	    });
	    var open = 0;
	    layui.use('layer', function () {
	        //非空验证
	        $('input[type="button"]').click(function () {
	            var login = $('input[name="login"]').val();
	            var pwd = $('input[name="pwd"]').val();
{#	            var code = $('input[name="code"]').val();#}
	            if (login == '') {
	                ErroAlert('请输入您的账号');
	            } else if (pwd == '') {
	                ErroAlert('请输入密码');
	            }
{#	            else if (code == '' || code.length != 4) {#}
{#	                ErroAlert('输入验证码');#}
{#	            } #}
	            else {
{#	                $('.login').addClass('test'); //倾斜特效#}
{#	                setTimeout(function () {#}
{#	                    $('.login').addClass('testtwo'); //平移特效#}
{#	                }, 300);#}
{#	                setTimeout(function () {#}
{#	                    $('.authent').show().animate({ right: -320 }, {#}
{#	                        easing: 'easeOutQuint',#}
{#	                        duration: 600,#}
{#	                        queue: false#}
{#	                    });#}
{#	                    $('.authent').animate({ opacity: 1 }, {#}
{#	                        duration: 200,#}
{#	                        queue: false#}
{#	                    }).addClass('visible');#}
{#	                }, 500);#}

	                //登录
	                var JsonData = { username: login, password: pwd,csrfmiddlewaretoken: $('#csrf_token').val()};
					var url = "/admin_login/";

	                httpPost(url, JsonData,
                        function (response) {
                            if (response.code==100) {
                                window.location.href = "/index/";
                            }
                            else {
                                alert('账号或者密码错误');
                            }
                        });
	            }
	        })
	    })
{#	    var fullscreen = function () {#}
{#	        elem = document.body;#}
{#	        if (elem.webkitRequestFullScreen) {#}
{#	            elem.webkitRequestFullScreen();#}
{#	        } else if (elem.mozRequestFullScreen) {#}
{#	            elem.mozRequestFullScreen();#}
{#	        } else if (elem.requestFullScreen) {#}
{#	            elem.requestFullscreen();#}
{#	        } else {#}
{#	            //浏览器不支持全屏API或已被禁用#}
{#	        }#}
{#	    }#}
{#		if(ajaxmockjax == 1){#}
{#			$.mockjax({#}
{#				url: 'Ajax/Login',#}
{#				status: 200,#}
{#				responseTime: 50,#}
{#				responseText: {"Status":"ok","Text":"登录成功<br /><br />欢迎回来"}#}
{#			});#}
{#			$.mockjax({#}
{#				url: 'Ajax/LoginFalse',#}
{#				status: 200,#}
{#				responseTime: 50,#}
{#				responseText: {"Status":"Erro","Erro":"账号名或密码有误"}#}
{#			});#}
{#		}#}
    </script>
{% endblock %}
</body>
</html>






