{% extends 'index.html' %}
{% block content %}
    <!--工具栏(全局)-->
    <div class="envTools">
        搜索：
        <div class="layui-inline">
        <input class="layui-input" name="id" id="envSearch" placeholder="变量名" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="envSearch">搜索</button>
        <div id="project-env-tool" class="layui-btn-group">
        <button class="layui-btn" data-type="envAdd">新增变量</button>
        </div>
    </div>

    <!--表格展示-->
    <table id="project-env-table" lay-filter="data-table"></table>

    <!--工具栏(每行)-->
    <script type="text/html" id="barEnv">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" >查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/javascript" src="/static/js/envTable.js"></script>

{#    <script>#}
{#        layui.use(['table', 'jquery', 'layer', 'form'], function () {#}
{#            var reg = /project_env\/(\d+)/;#}
{#            var r = window.location.pathname.match(reg);#}
{#            var pid = 0;#}
{#            if(r!=null){#}
{#                pid = r[1];#}
{#            }#}
{#            var table = layui.table,#}
{#                layer = layui.layer,#}
{#                form = layui.form,#}
{#                $ = layui.jquery;#}
{##}
{#            $("#project"+pid).addClass("layui-nav-itemed");#}
{#            $("#project"+pid+" .env").addClass("layui-this");#}
{##}
{#            //渲染表格#}
{#            var envTable = table.render({//渲染table#}
{#                method: 'post',//数据传输方式为post#}
{#                height: '666',//高度#}
{#                cellMinWidth: 80,//单元格最小宽度为80#}
{#                page: true,//开启分页#}
{#                limit: 15,//分页默认为30#}
{#                where: {#}
{#                    'pid':pid,#}
{#                    'csrfmiddlewaretoken':'{{ csrf_token }}'#}
{#                },#}
{#                elem: '#project-env-table',//设置容器#}
{#                url: '{% url 'get_project_envs' %}',//数据获取url#}
{#                cols: [[//设置列标签、标题、宽度、是否排序等#}
{#                    {field: 'id', title: 'ID', width: 100, sort: true},#}
{#                    {field: 'env_name', title: '变量名', width: 120,},#}
{#                    {field: 'env_value', title: '变量值',},#}
{#                    {field: 'env_desc', title: '描述',},#}
{#                    {fixed: 'right', title:'操作', width: 200, toolbar: '#barEnv'},//设置每行的工具栏以及其容器#}
{#                ]],#}
{#            });#}
{##}
{#           //监听工具条，每行#}
{#            table.on('tool(data-table)', function (obj) {#}
{#                var data = obj.data;#}
{#                if (obj.event === 'detail') {//如果event是detail,这里的event名称需要在容器中设置lay-event#}
{#                    $.post(//向服务器发送问题id，获取选中问题行的数据#}
{#                        '{% url 'get_project_env' %}',#}
{#                        {id: data.id,#}
{#                        csrfmiddlewaretoken:'{{ csrf_token }}'},#}
{#                        function (data) {//获取数据后开启弹窗#}
{#                            layer.open({#}
{#                                title: '变量详情',#}
{#                                area: ['500px', '400px'],#}
{#                                content: '<form id="project-env-detail" class="layui-form" action="" style="width: 100%;height: 80%">'+#}
{#                                '<div class="layui-form-item">'+#}
{#                                '<label class="layui-form-label">变量名称</label>'+#}
{#                                '<div class="layui-input-block">'+#}
{#                                '<input id="project-env-detail-name" name="project-env-detail-name"'+#}
{#                                'lay-verify="project-env-detail-name"'+#}
{#                                'class="layui-input" style="width: 90%">'+#}
{#                                '</div>'+#}
{#                                '</div>'+#}
{#                                '<div class="layui-form-item">'+#}
{#                                '<label class="layui-form-label">变量内容</label>'+#}
{#                                '<div class="layui-input-block">'+#}
{#                                '<input type="text" id="project-env-detail-value" name="project-env-detail-value"'+#}
{#                                'lay-verify="project-env-detail-value"'+#}
{#                                'class="layui-input" style="width: 90%">'+#}
{#                                '</div>'+#}
{#                                '</div>'+#}
{#                                '<div class="layui-form-item layui-form-text">'+#}
{#                                '<label class="layui-form-label">变量描述</label>'+#}
{#                                '<div class="layui-input-block">'+#}
{#                                '<textarea  type="text" id="project-env-detail-desc"'+#}
{#                                'name="project-env-detail-desc" lay-verify="project-env-detail-desc"'+#}
{#                                'class="layui-input" style="width: 90%;min-height: 150px"></textarea>'+#}
{#                                '</div>'+#}
{#                                '</div>'+#}
{#                                '</form>',//设置弹窗的容器#}
{#                                btn: ['确定'],//点击确定的时候，会关闭弹窗#}
{#                                yes: function (index, layero) {#}
{#                                    layer.close(index)#}
{#                                }#}
{#                            });#}
{#                            //设置容器中各个值#}
{#                            $('#project-env-detail-name').val(data.env_name);#}
{#                            $('#project-env-detail-value').val(data.env_value);#}
{#                            $('#project-env-detail-desc').val(data.env_desc);#}
{#                        }#}
{#                    )#}
{#                } else if (obj.event === 'del') {#}
{#                    layer.confirm('真的删除行么', function (index) {#}
{#                        obj.del();#}
{#                        $.post(#}
{#                            '{% url 'del_project_env' %}',#}
{#                            {id: data.id,#}
{#                            csrfmiddlewaretoken:'{{ csrf_token }}'},#}
{#                            function (data) {//删除成功后需要关闭弹窗并且重载表格#}
{#                                layer.close(index)#}
{#                                layer.msg('删除成功！', {icon: 1})#}
{#                                envTable.reload()#}
{#                            }#}
{#                        )#}
{#                    });#}
{#                } else if (obj.event === 'edit') {#}
{#                    $.post(//根据id获取服务器中的数据#}
{#                        '{% url 'get_project_env' %}',#}
{#                        {id: data.id,#}
{#                        csrfmiddlewaretoken:'{{ csrf_token }}'},#}
{#                        function (data) {#}
{#                            layer.open({#}
{#                                title: '编辑变量',#}
{#                                area: ['500px', '400px'],#}
{#                                content: '<form id="project-env-edit" class="layui-form" action="" style="width: 100%;height: 80%">'+#}
{#                                '<div class="layui-form-item">'+#}
{#                                '<label class="layui-form-label">变量名称</label>'+#}
{#                                '<div class="layui-input-block">'+#}
{#                                '<input id="project-env-edit-name" name="project-env-edit-name"'+#}
{#                                'lay-verify="project-env-edit-name"'+#}
{#                                'class="layui-input" style="width: 90%">'+#}
{#                                '</div>'+#}
{#                                '</div>'+#}
{#                                '<div class="layui-form-item">'+#}
{#                                '<label class="layui-form-label">变量内容</label>'+#}
{#                                '<div class="layui-input-block">'+#}
{#                                '<input type="text" id="project-env-edit-value" name="project-env-edit-value"'+#}
{#                                'lay-verify="project-env-edit-value"'+#}
{#                                'class="layui-input" style="width: 90%">'+#}
{#                                '</div>'+#}
{#                                '</div>'+#}
{#                                '<div class="layui-form-item layui-form-text">'+#}
{#                                '<label class="layui-form-label">变量描述</label>'+#}
{#                                '<div class="layui-input-block">'+#}
{#                                '<textarea  type="text" id="project-env-edit-desc"'+#}
{#                                'name="project-env-edit-desc" lay-verify="project-env-edit-desc"'+#}
{#                                'class="layui-input" style="width: 90%;min-height: 150px"></textarea>'+#}
{#                                '</div>'+#}
{#                                '</div>'+#}
{#                                '</form>',#}
{#                                btn: ['确定', '取消'],//一个是确定修改，一个是取消#}
{#                                yes: function (index, layero) {#}
{#                                    //确定修改的时候需要吧各个值传到服务器当中#}
{#                                    $.post(#}
{#                                        '{% url 'edit_project_env' %}',#}
{#                                        {#}
{#                                            env_name: $('#project-env-edit-name').val(),#}
{#                                            env_value: $('#project-env-edit-value').val(),#}
{#                                            env_desc: $('#project-env-edit-desc').val(),#}
{#                                            id: data.id,#}
{#                                            csrfmiddlewaretoken:'{{ csrf_token }}'#}
{#                                        },#}
{#                                        function (data) {//修改成功后需要关闭弹窗并且重载表格#}
{#                                            layer.close(index)#}
{#                                            layer.msg('修改成功！', {icon: 1})#}
{#                                            envTable.reload()#}
{#                                        }#}
{#                                    )#}
{#                                },#}
{#                                btn2: function (index, layero) {#}
{#                                    layer.close(index)#}
{#                                }#}
{#                            });#}
{#                            $.get('{% url 'service:get_problemsType' %}', function (data) {#}
{#                                //$('#project-env-edit-type').append("<option value=\"\"></option>");#}
{#                                for (var i = 0; i < data.length; i++) {#}
{#                                    console.log(data[i].type)#}
{#                                    $('#project-env-edit-type').append("<option value='" + data[i].id + "'>" + data[i].type + "</option");#}
{#                                }#}
{#                                form.render('select');#}
{#                            });#}
{#                            $('#project-env-edit-name').val(data.env_name);#}
{#                            $('#project-env-edit-value').val(data.env_value);#}
{#                            $('#project-env-edit-desc').val(data.env_desc);#}
{#                        }#}
{#                    )#}
{#                }#}
{#            });#}
{##}
{#            //监听工具条，全局#}
{#            var envTools = {#}
{#                envAdd: function () {//新增变量#}
{#                    layer.open({#}
{#                        title: '新增变量',#}
{#                        area: ['500px', '400px'],#}
{#                        content: '<form id="project-env-add" class="layui-form" action="" style="width: 100%;height: 80%">'+#}
{#                                '<div class="layui-form-item">'+#}
{#                                '<label class="layui-form-label">变量名称</label>'+#}
{#                                '<div class="layui-input-block">'+#}
{#                                '<input id="project-env-add-name" name="project-env-add-name"'+#}
{#                                'lay-verify="project-env-add-name"'+#}
{#                                'class="layui-input" style="width: 90%">'+#}
{#                                '</div>'+#}
{#                                '</div>'+#}
{#                                '<div class="layui-form-item">'+#}
{#                                '<label class="layui-form-label">变量内容</label>'+#}
{#                                '<div class="layui-input-block">'+#}
{#                                '<input type="text" id="project-env-add-value" name="project-env-add-value"'+#}
{#                                'lay-verify="project-env-add-value"'+#}
{#                                'class="layui-input" style="width: 90%">'+#}
{#                                '</div>'+#}
{#                                '</div>'+#}
{#                                '<div class="layui-form-item layui-form-text">'+#}
{#                                '<label class="layui-form-label">变量描述</label>'+#}
{#                                '<div class="layui-input-block">'+#}
{#                                '<textarea  type="text" id="project-env-add-desc"'+#}
{#                                'name="project-env-add-desc" lay-verify="project-env-add-desc"'+#}
{#                                'class="layui-input" style="width: 90%;min-height: 150px"></textarea>'+#}
{#                                '</div>'+#}
{#                                '</div>'+#}
{#                                '</form>',#}
{#                        btn: ['确定', '取消'],//一个是确定修改，一个是取消#}
{#                        yes: function (index, layero) {#}
{#                            //确定修改的时候需要吧各个值传到服务器当中#}
{#                            $.post(#}
{#                                '{% url 'add_project_env' %}',#}
{#                                {#}
{#                                    env_name: $('#project-env-add-name').val(),#}
{#                                    env_value: $('#project-env-add-value').val(),#}
{#                                    env_desc: $('#project-env-add-desc').val(),#}
{#                                    project_id: pid,#}
{#                                    csrfmiddlewaretoken:'{{ csrf_token }}',#}
{#                                },#}
{#                                function (data) {//修改成功后需要关闭弹窗并且重载表格#}
{#                                    layer.close(index)#}
{#                                    layer.msg('新增成功！', {icon: 1})#}
{#                                    envTable.reload()#}
{#                                }#}
{#                            )#}
{#                        },#}
{#                        btn2: function (index, layero) {#}
{#                            layer.close(index)#}
{#                        },#}
{#                        //在弹层事件里加上这段内容可以去掉弹层的遮罩#}
{#                        success:function(layero){#}
{#                         var mask = $(".layui-layer-shade");#}
{#                         mask.appendTo(layero.parent());#}
{#                         //其中：layero是弹层的DOM对象#}
{#                        }#}
{#                    });#}
{#                    $('#project-env-add-recordpeople').val('{{ request.user.rtx_name }}')#}
{#                }#}
{#            }#}
{##}
{#            //监听全局工具栏按钮点击#}
{#            $('#project-env-tool > .layui-btn').on('click', function () {#}
{#                var type = $(this).data('type');#}
{#                //如果envTools[type]存在则call,否则为""#}
{#                envTools[type] ? envTools[type].call(this) : "";#}
{#            })#}
{#        })#}
{#    </script>#}
{% endblock %}